@import "./root.css";
@import "./normalize.css";
/* Fonts styles */
@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v18-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v18-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v18-latin-600.woff2") format("woff2");
}
/* fira-code-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/fira-code-v22-latin-600.woff2") format("woff2");
}

/* martian-mono-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Martian Mono";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/martian-mono-v3-latin-600.woff2") format("woff2");
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter";
  background: var(--white);
  color: var(--black06);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1230px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

/* Header */
.header {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  background-image: url(../images/bg-pattern.jpg);
  background-repeat: no-repeat;
}

